.notfound-container {
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.bolhaB {
  top: -15px;
  left: 0;
  width: 32%;
  position: absolute;
  animation: rotate 12s infinite ;
}
.bolhaA {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: -15px;
  animation: rotate 14s infinite ;
}

.notfound-content  {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.notfound-content .notfound-logo { 
    width: 200px;
    margin-bottom: 10px;
}


.notfound-content .notfound-hand {
  width: 57%;
  margin-bottom: 40px;
  
}


@keyframes rotate {
    0% {
        transform: rotateZ(5deg);
    }
    25% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(5deg);
    }
    75% {
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(5deg);
    }
}

.notfound-content p {
  font-size: 30px;
  font-weight: bold;
  color: #737ff3;
  margin-bottom: 40px;
}



