.dashboardLider {
  background-color: #F8F8F8;
}

.container-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-cards h1{
  color: #737FF3;
  font-size: 30px;
  align-self: flex-start;
}

.divider{
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
  background: #E4E4E4;
}

.cards-area{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.container-report{
  display: flex;
  align-items: center;
}

.colab-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
}