.dailyLog {
    background-color: #f8f8f8;
    height: 100vh;
    overflow-y: auto;
}

.dailyLogInfo-container {  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 75px;
    font-size: 17px;
    line-height: 20px;
    color: #737FF3;
    cursor: pointer;
  }
  
.backBtn:hover {
    opacity: .8;
}

.dailyLogInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dailyLogInfo h2 {
    margin-right: 15px;
    font-size: 24px;
    line-height: 28px;
    color: #898989; 
}

.dailyLogInfo h4 {
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    color: #898989;
}


.dailyLog-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    
}

.buttonAddDaily {
    width: 538px;
    height: 78px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.11);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
}

.buttonAddDaily span {
    color: #B2B2B2;
    font-size: 17px;
    margin-left: 5px;
}

.buttonAddDaily:hover {
    border: 2px solid #B2B2B2;
    color: #898989;
    cursor: pointer;
    transition: all .1s;
  }
  
.buttonAddDaily:hover svg {
    color: #898989 !important;
}

.buttonAddDaily:hover span {
    color: #898989 !important;
}

