::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 340px;
  width: 723px;
  max-width: 723px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  margin: 0 10px 0 0;
  padding: 30px;
}
.listTitle {
  width: 100%;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #595959;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 10px 0px;
  color: #737ff3;
}

.titleContainer p {
  width: 33%;
}

.titleContainer p:last-child {
  margin-right: 10px;
}
.usersList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow-y: auto;
}
.listRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.listRow ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.listRow ul li {
  width: 33%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.17);
  color: #898989;
}

.userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #737ff3;
}

.userAvatar img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
