*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding:0;
  outline-color: #737FF3;
}

html {
  scroll-behavior: smooth;    
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: rgb(76, 86, 179);
}

body {
  -webkit-font-smoothing: antialiased;
  
}

.Toastify__toast--info {
  background: #332a58 ;
  border-radius: 4px;

}
.Toastify__toast--success {
  background: #7178ca;
  border-radius: 4px;
}

.Toastify__toast--error {
  background: #dc3545;
  border-radius: 4px;
}
