*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding:0;
  outline: transparent;
}

html {
  scroll-behavior: smooth;    
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: rgb(76, 86, 179);
}

body {
  -webkit-font-smoothing: antialiased;
  
}