<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/modalStyle.css">
    <link rel="shortcut icon" href="img/logo2.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>ModalBase</title>

</head>

<!-- Estrutura dos modais de cadastro e login para a criação deles -->

<body>
    
    <div class="modal">

        <div class="modalFade">

        </div>

        <div class="modalContainer">

            <div class="containerLeft"></div>

            <div class="containerRight"></div>
            
        </div>

    </div>

</body>

</html>
