<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/modalEscolha.css" />
    <link rel="shortcut icon" href="img/logo2.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>ModalBase</title>
  </head>
  <body>
    <div class="modal">
      <div class="modalFade"></div>

      <div class="modalContainer">
        <div class="containerLeft">
          <img src="../img/logo_roxo_100.png" alt="Logo Scrunner" />
          <h1>Bem vindo ao Scrunner</h1>
          <h5>Escolha o seu perfil</h5>

          <div class="containerOptions">
            <div class="empresa" onclick="selectOption(`empresa`)">
              <img src="../img/empresa_icon.png" alt="Empresa icon" />
              <div class="description">
                <h3>Sou uma empresa</h3>
                <p>
                  Vou usar o Scrunner para organizar meus projetos e/ou times.
                </p>
              </div>
            </div>

            <div class="colaborador" onclick="selectOption(`colaborador`)">
              <img src="../img/colaborador_icon.png" alt="Colaborador icon" />
              <div class="description">
                <h3>Sou um colaborador</h3>
                <p>
                  A empresa onde trabalho usa Srunner e eu possuo um código de
                  acesso.
                </p>
              </div>
            </div>
          </div>

          <button id="btnContinue">Continuar</button>
        </div>

        <div class="containerRight">
          <img src="../img/modalEscolha.png" alt="Banner modal" />
          <a href="#">X</a>
        </div>
      </div>
    </div>

    <script>
      function selectOption(el) {
        // Removendo se já houver outra opção selecionada
        const options = document.querySelectorAll(".containerOptions div");
        options.forEach(option => {
          option.classList.remove("selected");
        });

        // Colocando a classe de ativa na opção selecionada
        const option = document.getElementsByClassName(el)[0]
        option.classList.toggle("selected");
      }
    </script>
  </body>
</html>
