<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../styles/modalLogin.css">
	<link rel="shortcut icon" href="img/logo2.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<title>ModalLogin</title>

</head>

<!-- Estrutura dos modais de cadastro e login para a criação deles -->

<body>
	<div class="modal">
		<div class="modalFade"></div>

		<div class="modalContainer">

			<div class="containerLeft">
				<img src="../img/modalLogin.png" alt="Banner Modal Login">
			</div>

			<div class="containerRight">
				<a href="#">X</a>
				<img src="../img/logo_roxo_100.png" alt="Logo Scrunner">
				<h1>Bem vindo novamente</h1>
				<h2>Entre usando um email</h2>
				<form id="login" action="" method="POST">
					<div class="email">
						<label for="Email">Email</label><br>
						<input type="email" name="email" id="email">
					</div>
					<div class="senha">
						<label for="password">Senha</label><br>
						<input type="password" name="password" id="senha">
						<a onclick="showPassword()" id="fotoOlho" href="#"> <img alt="Mostrar Senha"
								src="../img/eye_password.png"></a>
					</div>
					<div class="checkBox">
						<div>
							<input value="1" type="checkbox" name="manterConec" id="manterConec">
							<label for="manterConec">Manter conectado</label>
						</div>
						<a id="esqSenha" href="#">Esqueceu a senha?</a>
					</div>
				</form>
				<h3 id="btnContinue">Continuar</h3>
			</div>
		</div>

	</div>
	<script>
		function showPassword() {
			const element = document.getElementById("senha");
			const img = document.getElementById("fotoOlho");

			if (element.getAttribute("type") === "password") {
				element.setAttribute("type", "text");
				img.classList.add("showPass");
			} else {
				element.setAttribute("type", "password");
				img.classList.remove("showPass");
			}
		}
	</script>
</body>

</html>