*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding:0; 
}

nav {
    align-items: center;
    background-color:#737FF3;
    display: flex;
    height: 75px;
    justify-content: space-around;
    font-size: 18px;
}

nav div {
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 25px;
    padding: 15px;
    display: flex;
}

.logoNav {
    height: 70px;
    width: auto;
    margin-right: -20%;  
}

.logon {
    margin-right: 25px;
    background-color: white;
    color: #737ff3;
    font-weight: bold;
    border-radius: 50px;
}

.login {
    font-weight: bold;
}

footer 
.scrunner{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-rendering: optimizeLegibility;
}

.scrunner>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;

}

#bannerTrabalho{
    width: 60%;
    align-self: center;
}

.informacaoScrunner{
    max-width: 380px;
    margin-left: -10px;
    margin-top: -50px;
}


.informacaoScrunner h1{
    color: #505050;
    font-size: 40px;
    font-weight: bold;
}

.informacaoScrunner h1:nth-child(2){
    margin-bottom: 25px;
    text-align: left;
}

.informacaoScrunner p{
    font-size: 16px;
    color: #505050;
    text-align: left;
    line-height: 23px;
}

.informacaoScrunner p:last-child{
    color: #737FF3;
    margin-top: 30px;
}

.containerIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    margin: 20px 0 0 35px; 
}

.containerIcons>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloIcone{
    font-size: 19px;
    align-self: flex-start;
    margin: 10px 0 10px 0;
    color: #505050;
}

.containerIcons div p{
    font-size: 15px;
    margin: 0 27px 0 0;
    color: #505050;
    max-width: 170px;
}

.icon{
    width: 35%;
    align-self: flex-start;
}

.metodologias{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-rendering: optimizeLegibility;
    margin-top: 50px;
}

.metodologias>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacaoMetodologias{
    max-width: 380px;
    margin-right: -70px;
}

#quadroScrum{
    width: 60%;
    align-self: center;
    margin-left: 10px;
}

.informacaoMetodologias>h1{ 
    color: #505050;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.informacaoMetodologias>p{
    font-size: 16px;
    color: #505050;
    text-align: left;
    line-height: 23px;
}

.containerArtigos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 950px;
}

.containerArtigos>h3{
    color: #505050;
    font-weight: bold;
    text-align: left;
    margin: 30px 0 30px 0;
}

.artigos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.artigo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    margin: 0 100px 5px 0;
    padding: 20px 20px 20px 20px;
    border: 3px solid #737FF3;
}

.artigo:first-child{
    margin: 0 50px 5px 0;
}

.artigo>h3{
    color: #505050;
    text-align: left;
    margin: 5px 0 15px 0;
}

.artigo>p{
    font-size: 14px;
    color: #505050;
}

.artigo>div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.artigo>div>a{
    font-size: 13px;
    margin: 10px 0 0 0;
    color: #328CC1;
    text-decoration: none;
    align-items: center;
}

.artigo>div img{
    width: 15%;
    margin: 5px 0 -1px 5px
}

.sessao4{
    width: 100%;
    margin-top: 80px; 
}

.divSessao4{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.agilSessao4{
    position: absolute;
    top: 25%;
    font-size: 40px;
    font-weight: bolder;
    font-family: sans-serif;
    color: #3a3a3a;
}

.textoSessao4{
    position: absolute;
    top: 42%;
    height: 40%;
    width: 35%; 
    font-size: 1.8em;
    font-family: sans-serif;
    text-align: center;
    color: #3a3a3a;
}

.divBotaoSessao4{
    position: absolute;
    align-self: center;
    top: 65%;
    background-color: #303a97;
    font-weight: bold;
    border-radius: 50px;
    height: 60px;
    width: 190px;
}

.botaoSessao4{
    text-align: center;
    display: flex;
    padding: 18px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}


.imgSessao4{
    width: 100%;
    height: 100%;
}


.contatos{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 700px;
}


.bannerContatos {
    height: 180px;
    width: 350px;
}
.infoContatos{
    width: 350px;
    margin-right: 25px;
}
.infoContatos p{
    color:#727272;
}
.infoContatos h3{
    color: #363C73;
    display: flex;
    font-size: 23px ;
    justify-content: center;
}
.infoContatos h4{
    color:#363C73 ;
    margin-bottom: 25px;
}

.infoContatos :last-child{
    display: flex;
}
#textoClaro{
    color: #B6B6B6;
}

.redesSociais img{
    height: 35px;
    margin: 10px 15px 0 0;
    width: 35px;  
}
.borderForm{
    border: 3.5px solid #737FF3;
    border-radius: 12px;
    bottom: 53px;
    position: absolute ;
    height: 468px;
    width: 350px;
    right:13px;
    bottom: 13px;
    z-index:-1;
    
}
.contatos form{
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    height: 468px;
    width: 350px;
    border-radius: 12px;
    padding: 20px;
    margin-left: 25px;
    position: relative;
    z-index:3;
}

.textoNegrito{
    color: #363C73 ;
    font-weight: 750;
}
.textoCinza{
    color: rgb(136, 136, 136);
}
.dadosUsuario{
    display: flex;
    flex-direction: column;
}
.dadosUsuario input{
    background-color: #F0F0F0;
    border: none;
    border-bottom: 2px solid #ccc;
    padding:5px; 
    width: 90%;
}

#formMsg{
    background-color: #F0F0F0;
    width: 90%;
}
#prefEmail{
    margin-left: 25px;
}
.textoForm{
    display:flex;
    flex-direction: column;
}

.containerBtn{
    display: flex;
    justify-content: flex-end;
}
.containerBtn input{
    border: 2px solid #737FF3;
    border-radius: 15px;
    color: #737FF3;
    font-weight: 750;
    width: 80px;
    margin-right: 30px;
    padding: 5px;

}

footer {
    align-items: center;
    background-color: #ECECEC;
    display: flex;
    height: 90px;
    justify-content: space-around;
}
footer div {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

footer ul{
    display: flex;
    list-style: none;    
}

footer a{
    margin: 25px;
    padding: 15px;
    text-decoration: none;
    color:#505050;
}

footer p{
    color:#505050;
    margin-right: 25px;

}