.colaborador-detalhes-time {
  background-color: #f8f8f8;
  height: 100vh;
}

.colaborador-cards-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.colaborador-header-buttons {
  display: flex;
}

.colaborador-area-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.colaborador-graph-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 20px 0px;
}
