.action-button {
    width: fit-content;
    height: 40px;
    border-radius: 25px;
    background: linear-gradient( to right, #9EA8FF, #737FF3);
    border: none;
    color: white;
    font-size: 16px;
    display: flex;
    padding: 0 22px;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    transition: transform .3s;
    cursor: pointer;
    outline: none;
}


.action-button:hover {
    transform: scale(0.97);
    opacity: 0.9;
}

.action-button span {
    margin-left: 10px;
}