.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 340px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  margin: 0px ;
  padding: 30px;
}

.graph-title{
  font-size: 20px;
  align-self: flex-start;
  color: #595959;
  margin: 0;
  padding: 0;
}

.graph{
  width: 320px;
  height: 200px;
  display: flex;
  margin-top: -15px;
  align-items: center;
  justify-content: center;
}

.graph-description{
  font-size: 17px;
  text-align: center;
  color: #737FF3;
  padding: 0 40px 0 40px;
}

.no-data-graph-description{
  font-size: 17px;
  text-align: center;
  color: #737FF3;
}
