.modal-codigo {
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 13;
}

.modalContainer-codigo-EntrarTime {
  height: 288px;
  max-width: 380px;
  border-radius: 0 4px 4px 0;
  position: relative;
  background-color: #fff;
  padding: 22px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px
}

.mainContainer-codigo {
  width: 460px;
  max-width: 460px;
  height: 100%;
  border-radius: 4px 0 0 4px;
  position: relative;
  background-color: #fff;
}

.titleContainerEntrarTime {
  display: flex;
  justify-content: space-between;
}

.titleContainerEntrarTime h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #737FF3;
}

.titleContainerEntrarTime button {
  border: none;
  background-color: #FFF;
  cursor: pointer;
}

.containerCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.containerCode h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #595959;
}

.divAux {
  display: flex;
  align-items: center;
  color: #737FF3;
}

#inputEntrarTime {
  width: 70%;
  height: 45px;
  background: #ffffff;
  border: 1px solid #737ff3;
  box-shadow: 0px 0px 4px rgba(115, 127, 243, 0.34);
  border-radius: 10px;
  margin:30px 0px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  color: #737ff3;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
} 
