.detalhes-times-daily {
  background-color: #f8f8f8;
  height: 100vh;
}

.header-times-daily {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-titles {
  display: flex;
  align-items: baseline;
  width: fit-content;
  justify-content: space-between;
}

.header-titles h2 {
  font-weight: bold;
  font-size: 30px;
  color: #737ff3;
  margin-right: 15px;
}

.header-titles span {
  text-decoration: none;
  font-size: 17px;
  color: #898989;
  cursor: pointer;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.container-boards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.animation-empty-dailys{
  margin: 0 auto;
}